# Media and result files
*.jpg
*.png
*.mp4
*.csv
*.pdf

# Artefacts, executables and libraries
*.pyc
*.so
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Serialised data
*.pkl
*.pickle
*.npy
*.pt
*.tflite

# IDE settings
*.vscode
*.idea

# Directories containing large files
models/
build/
__pycache__/
AcT_utils/micro_test_ikea_2d_body/results/
pickles/
data/
AcT_utils/micro_test_ikea_2d_body/logs/
